shamefully-hoist=false
strict-peer-dependencies=false
public-hoist-pattern[]=*@docusaurus/*
public-hoist-pattern[]=*@mdx-js/*
public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*@easyops-cn/*
public-hoist-pattern[]=*prism-react-renderer*
public-hoist-pattern[]=*react-live*
public-hoist-pattern[]=*infima*
