.cu-progress {
  inline-size: 100%;
  block-size: 0.5rem;
  border: 0;
  border-radius: var(--cu-space-1);
  background: var(--cu-color-border-default);
  color: var(--cu-color-palette-brand);
}

.cu-progress--sm {
  block-size: 0.25rem;
}

.cu-progress::-webkit-progress-bar {
  background: var(--cu-color-border-default);
  border-radius: var(--cu-space-1);
}

.cu-progress::-webkit-progress-value {
  background: var(--cu-color-palette-brand);
  border-radius: var(--cu-space-1);
}

.cu-progress::-moz-progress-bar {
  background: var(--cu-color-palette-brand);
  border-radius: var(--cu-space-1);
}
