.cu-grid {
  display: grid;
}

.cu-grid--gap-none {
  gap: 0;
}

.cu-grid--gap-sm {
  gap: var(--cu-space-1);
}

.cu-grid--gap-md {
  gap: var(--cu-space-2);
}

.cu-grid--gap-lg {
  gap: var(--cu-space-3);
}
